In [ ]:
import pandas as pd
df = pd.read_csv('fortune1000.csv')
print(df.head())
#this code allows for csv file to load
#user also creates dataframe

In [ ]:
print(type(df))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.info())
#print out the shape atrribute to retrieve number of rows and columns
#the column attribute shows the column names

In [ ]:
company_df = df.columns
print(company_df)
#create a variable and set it show all columns

In [5]:
import pandas as pd
df = pd.read_csv('fortune1000.csv')
subset = df[['Company', 'Revenue', 'Profits']]
print(subset)
#subsetting specific columns by listing the names in brackets

                        Company  Revenue  Profits
0                       Walmart   482130    14694
1                   Exxon Mobil   246204    16150
2                         Apple   233715    53394
3            Berkshire Hathaway   210821    24083
4                      McKesson   181241     1476
..                          ...      ...      ...
995  New York Community Bancorp     1902      -47
996   Portland General Electric     1898      172
997   Portland General Electric     1898      172
998                     Wendyâ€™s     1896      161
999           Briggs & Stratton     1895       46

[1000 rows x 3 columns]

In [ ]:
print(df.loc[0])
number_of_rows = df.shape [0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])
Series = df.iloc[[0]]
#create code to only show the info located in index 0

In [3]:
print(df.loc[[0,99,999]])
#printing specific rows in the dataframe

NameError: name 'df' is not defined

In [ ]:
subset2 = df.iloc[:,[0,2,-1]]
print(subset2.head)
#setting the location of the dataframe to show

In [6]:
small_range = list(range(4))
subset = df.iloc[:,small_range]
print(subset.head())
#using the iloc method to retrieve a list with a range of 4

   Rank             Company       Sector  \
0     1             Walmart    Retailing
1     2         Exxon Mobil       Energy
2     3               Apple   Technology
3     4  Berkshire Hathaway   Financials
4     5            McKesson  Health Care

                                   Industry
0                     General Merchandisers
1                        Petroleum Refining
2               Computers, Office Equipment
3  Insurance: Property and Casualty (Stock)
4                  Wholesalers: Health Care

In [ ]:
print(df.loc[10,'Company'])
print(df.iloc[10,1])
#subset a row containing a label index with an integer and name

In [1]:
print(df.groupby('Sector')['Employees'].mean())
#using the grouping method to get the Sector part of the dataframe-Employee

NameError: name 'df' is not defined

In [2]:
grouped_sector_df = df.groupby('Sector')
grouped_sector_df_revenue = grouped_sector_df['Revenue']
print(grouped_sector_df_revenue)
mean_sector_by_revenue = grouped_sector_df_revenue.mean()
print(mean_sector_by_revenue)
#grouping method to show sector by revenue

NameError: name 'df' is not defined

In [ ]:
multi_group_var = df.groupby(['Sector','Company'])[['Revenue','Profits']].mean()
print(multi_group_var)
#setting multiple groups

In [ ]:
plot_df = df.head()
print(plot_df)
sector_revenue_mean = plot_df.groupby('Sector')['Revenue'].mean()
print(sector_revenue_mean)
sector_revenue_mean.plot()
#creating a plot using groupby and using plot

In [ ]:
seriesList = pd.Series(['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
print(seriesList)
seriesDict = pd.Series({'Person':'Wes McKinney','Who':'Creator of Pandas'})
print(seriesDict)

In [ ]:
scientists = pd.DataFrame({
    ' Name': ['Rosaline Franklin','William Gosset'],
    ' Occupation': ['Chemist','Statistician'],
    ' Born': ['1920-07-25', '1876-06-13'],
    ' Died': ['1958-04-16', '1937-10-16'],
    ' Age': [37, 61]})
print(scientists)
#creating a new dataframe
#manually entering the info for the dataframe